*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height:100px;
    width: 100%;
    background-color:#39561A;;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    box-shadow: 0px 4px 19px rgba(119, 147, 65, 0.3);
}

h2{
    color:white; 
    text-align: center; 
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
   
  } 
img{
    padding-right:60px;
}


.login-header{
    display: flex;
    /* justify-content: space-between; */
    /* margin-right: 100px; */
   margin-top:50px;
   padding-bottom: 30px;
}


form{
    width: inherit;
    padding: 0px 30px;
    border: 1px solid grey;

}

label{
    color: #504F4E;
    font-family: poppins;
}

.form-input{
    display:  flex;
    flex-direction: column;
    width: 100%;
   
}

input{
    /* position: absolute; */
    width: 317.15px;
    height: 66.27px;
    padding: 15px;
    margin: 10px 0px;
    border-radius: 9px;
    border: 1px solid #5C872E;
    color: #5C872E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: none;
} 

input:focus{
    outline: none;
    border-bottom: 1px solid #ADADAD;
}

.error{
    color: red;
    margin-top: -10px;
}

button{
    width: 316.25px;
    height: 62.79px;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 10px;
    font-family: bold;
    font-size: 18px;
    cursor: pointer;
    background-color: #39561A;
    margin-top: 15px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 19px
        rgba(119, 147, 65, 0.3);
} 