*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 



  h3 {
    color: white;
    text-align: center;
    margin-top: -40px;
    padding-bottom: 70px;
  } 

  form{
    width: inherit;
    padding: 0px 30px;
    /* border: 1px solid grey; */
  }
  

 

  .form-input {
    display:  flex;
    flex-direction: column;
    width: 100%;
  }

  .label{
    font-size: 16px;
    color: #504F4E;
    
  }

  input{
    width: 312px;
    height: 66.27px;
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: none;
    margin-top: 30px;

} 

.pwd{
  padding-top: 30px;
}

input:focus{
  outline: none;
  border-bottom: 1px solid #39561A;
}

.error{
  color: red;
  margin-top: -10px;
}

.forget-para{
  text-align: end;
  margin-right: 30px;
  color: #39561A;
}

button{
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 10px;
  font-family: bold;
  font-size: 18px;
  cursor: pointer;
  background-color: #39561A;
  margin-top: 25px;
  margin-bottom: 30px;
}  

.no-account-para{
  color: #504F4E;
}

span {
    color: #39561A;
    margin-left: 30px;
}  